
header{
    color:black;
    background-color: @soupColor;

    @media @phone {
        height: 170px;
        flex-direction: column;
      }
    div{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border-bottom: 2px solid @yellow;

        @media @phone {
            flex-direction: column;
          }
        
        nav{
            @media @phone {
                padding:10px;

                align-self: center;
              }
            a{
                .fontColor();
                font-size: 2.6rem;
                text-decoration: none;
                margin:32px;

            }
        }
        img{
            width: 50%;
            margin: 0% 80% 0% 0%;
            height: 100%;     
            @media @phone {
                width: 70%;
                align-self: center;
                margin:0 0 0 10%;

              }   
        }
    }
}

.welcome{
    display: flex; 
    justify-content: center;
    background-color: @orange;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 2%;
        h3{
            align-self: center;
            color:white;
            font-size: 3.2rem;
            justify-content: center;
            @media @phone {
                width: 90%;
              }

        }
        .imgTitle{
            img{
            width:40%;
            }
        }
        img{
            width:60%;
            align-self: center;
            @media @phone {
                width: 90%;
              }
        }
        h2{
            align-self: center;
            .fontColor();

        }
        p{
            text-align: center;
            border-bottom: 2px solid @yellow;
            .fontColor();

        }
        

    }
}
.bottom {
    background: @soupColor;
   h2 {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    .fontTitleColor(5rem, underline);

  }
   div {
    display: flex;
    justify-content: space-around;
     h4 {
        font-size: 2rem;
        padding: 3% 0;
      }
  }
   
}
footer {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
    .fontTitleColor(1rem, medium);
    background: @orange;
  }


.about{
    .team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding-bottom: 3%;
    padding-left: 5vw;
    padding-right: 5vw;
        img{
            align-self: center;
        }
        .text {
            padding-left: 20%;
            padding-top: 4%;
            height: 30vh;
            width: 70vw;
            // a{
            //     .gitFont(6rem,center,white);

            // }
            // h3{
            //     align-self: center;
            //     color:white;
            //     font-size: 10rem;
            // }
            
        }
    }
}
.fa-github{
    .gitFont(6rem,center,white);
};
// a{
//                 .gitFont(6rem,center,white);
                
//             }