h4{
    font-size: 1.8rem;
}


.volunteer {
    .backColor();
    padding:3%;

    .volunteerText{
        padding:2%;
        display: flex;
        align-items: center;
        border-bottom: 2px solid @yellow;
        h4{
            align-self: flex-start;
            padding-right: 2%;
            border-right:2px solid @yellow;
            .align();

        }
        p{
            padding-left: 2%;
            .align();
            @media @phone{
                background-color: black;
            }

        }
        
    }
    .apartSec{
        padding:3%;
        display: flex;

        .apartText{
            padding:2%;
            h4{
                padding-bottom: 2%;
                .align();

            }
            p{
                .align();
            }
        }
        .apartPic{
            width:500px;
            img{
                width:100%;
            } 
        }
    }
    
}

.info{
    .backColor2();
    display: flex;
    border-top: 2px solid @yellow;
    border-bottom: 2px solid @yellow;
    
    
    .top{
        padding: 5% 5% 0% 5%;
        .backColor();
        border-right: 2px solid @yellow;
        h1{
            font-size: 3rem;
            padding-bottom: 12%;
    
        }
        p{
            color:black;
        }
    }
    .bottom{
        padding:5% 5% 2% 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            padding: 2%;
            .align();
        }

        img{
            width:40%;
            padding-bottom: 2%;
        }
    }
}